html,body{
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding: 0;
    margin:0;
    background:url("/resources/bg.jpg") no-repeat center fixed;
    background-size: cover;
}
h1{
    color:white;
    font-size:50px;
}
hr{
    box-shadow: 2px 2px 4px black;
}
.btn{
    border:0;
    color:white;
    font-weight: 700;
    border-radius: 300px;
    padding:10px;
    background: rgb(253, 123, 71);     
}
.buffer{
    height:8rem;
}
.line{
    border-color:rgb(253, 123, 71);
    border-width: 2px;
    max-width:65px;
}
.btn:hover{
    color:white;
    /* border:0; */
    border-width: 4px;
}